@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@400;598&display=swap');

body {
    background-color: #262626;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

* {
    color: #262626;
    font-family: 'Murecho', sans-serif;
}

.logo {
    position: absolute;
    right: 6vw;
    top: 6vh;
    width: 10vw;
}

.challengemain {
    color: white;
    font-size: 2em;
    right: 20vw;
}


form {
    background-color: #cea5fb;
    height: 30vh;
    width: 39vh;
    border-radius: 10px 10px 10px 10px;
    padding: 5vh;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
    margin-right: 5vw;
}

form>* {
    margin-top: 2vh;
    margin-right: 1.5vh;
}

form button {
    width: 20vw;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
}

.container {
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.manage {
    color: white;
    font-size: 3vh;
}

#challenges>div {
    margin: 10vh 5vw 0 0;
    height: 30vh;
    width: 39vh;
    background-color: #faa356;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 2%;
}

#users>div {
    margin: 10vh 5vw 0 0;
    height: 30vh;
    width: 39vh;
    background-color: #568afa;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 2%;

}

.imgactions {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.imgactions img {
    width: 2vw;
}

.formContainer {
    display: flex;
    flex-direction: row;
}

.ToDo {
    background-color: red;
}

.Done {
    background-color: green;
}