@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@400;598&display=swap');

body {
    background-color: #262626;
    overflow-x: hidden;
}

* {
    color: #262626;
    font-family: 'Murecho', sans-serif;
}

.logo {
    position: absolute;
    right: 6vw;
    top: 6vh;
    width: 10vw;
}

.challengemain {
    position: absolute;
    color: white;
    font-size: 2em;
    right: 20vw;
    top: 20vh;
}

form {
    position: absolute;
    top: 5vh;
    left: 5vw;
    background-color: #cea5fb;
    height: 30vh;
    width: 20vw;
    border-radius: 10px 10px 10px 10px;
    padding: 5vh;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
}

form>* {
    margin-top: 2vh;
    margin-right: 1.5vh;
}

form button {
    width: 20vw;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
}

#added {
    position: absolute;
    top: 50vh;
    left: 5vw;
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.manage {
    color: white;
    top: 50vh;
    left: 5vw;
    position: absolute;
    font-size: 3vh;
}

#addedchallenge {
    margin: 10vh 5vw 0 0;
    height: 30vh;
    width: 39vh;
    background-color: #faa356;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 2%;

}

.imgactions {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.imgactions img {
    width: 2vw;
}